@charset "utf-8";
/* CSS Document */

/* Resets */
html {
  box-sizing: border-box;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html,
  body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #fff;  
  }  

img {
  max-width: 100%;
  height: auto;
}
/* ---------------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   
  body {
    font-family: "Roboto", sans-serif;
    color: #3d3536;
    background-color: rgb(253, 249, 249);
  }
  
  body, 
  html {
    /* important */      
    margin:0;
    padding:0;
    height: 100%;
  }

  .full-header {
    background-image: linear-gradient(rgba(248, 238, 192, 0.5), rgba(255,255,255,0.5)), url("../images/paisley-placeholder.jpg");
    background-size: 100%;
  }

  header {
    height: 80px;
    width: 100%;
    /* background-color: rgb(250, 250, 232); */
    /* background-color: rgb(243, 242, 202);   */
    /* background-color: #fff;       */
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
  }
  
  .btn-mobile-menu {
     display: none;
     width: 35px;
     height: 35px;
     object-fit: none;
     object-position: 0 0;
     transition: all .1s ease;
  }

  .nav-main {
    height: 40px;
    line-height: 1;
    text-align: center;
    /* background-color: rgb(243, 242, 202);  */
    /* background-color: #fff;     */
  }
  
  /* .nav-main {
    display: none;
    height: 120px;
    width: 100%;
    border: 1px solid #005991;
    border-right: none;
    border-left: none;
    background-color: #dfbc88;
    overflow: hidden;
    transition: height 0.3s ease;
    margin: 0;
    padding: 0;
    position: relative;
  } */
  
  .nav-main ul {
    width: 70%;    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
  }
  
  .nav-main li {
    line-height: 40px;
    list-style-type: none;
  }
  
  .nav-main a {
    /* border-bottom: 1px solid #005991; */
    border-right: none;
    width: 100%;
    /* color: rgb(7, 7, 7); */
	  color: rgb(12, 12, 12);
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all .5s ease;
    font-weight: bold;
    font-size: 16px;
  }

  /* .nav-main {
    display: block;
    height: 120px;
    margin-top: 1%;
  } */
  
  /* .sign {
    width: 150px;
    padding: 10px 0;
    /* height: 100%; 
  } */
  
  /* nav ul {
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 60px 20px 0;
  }
  
  nav ul li {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.14em;
    list-style-type: none;
    line-height: 2;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000; /*#e5e5e5;
  } */

  /* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
  .cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    /* max-width: 768px; */
    margin: 0 auto; 
  }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  
  .cd-main-content {
    /* you need to assign a min-height to the main content so that the children can inherit it*/
    height: 100%;
    position: relative;
    z-index: 1;
    min-height:100%;     
  }
  
  .cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
  }
  .cd-fixed-bg h1 {
    position: absolute;
    left: 50%;
    top: 28%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
	  color: rgb(228, 226, 114);
	  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-size: 8em;
  }

 .cd-fixed-bg h2 {
    position: absolute;
    left: 50%;
    top: 30%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
	  color: rgb(228, 226, 114);
	  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-size: 4em;
  }

  .cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/bandhni.jpg");
  }
  .cd-fixed-bg.cd-bg-2 {
    background-image: url("../images/rajasthan.jpg");    
    /* background-image: linear-gradient(rgba(255,255,255, 0.15), rgba(255,255,255,0.15)), url("../images/rajasthan.jpg"); */
  }
  .cd-fixed-bg.cd-bg-3 {
    background-image:url("../images/temple.jpg");      
  }
  .cd-fixed-bg.cd-bg-4 {
    background-image: url("../images/kerala.jpg");
    margin: 0;
    padding: 0;    
  }

  /* Common styles */
.cd-fixed-bg {
  /* background-size: 100%; */
  background-repeat: no-repeat; 
}

  .cd-food-bg-1 p,
  .cd-hist-bg-1 p,
  .cd-geog-bg-1 p {
    position: absolute;
    width: 45%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);    
    bottom: auto;
    right: auto;
    font-size: 3em;
    color: rgb(0, 0, 0); 
    background-color: rgba(240, 234, 179, 0.45);
    text-align: center;  
    padding: 20px;  
  }

  .intro {
      padding: 0 100px 40px;
      margin: 0 auto;
      font-size: 16px;
  }

  .intro h2 {
    text-align: center;
  }

      /* Food Page styles */
 .cd-food-bg-1 {
    background-image:url("../images/indian-spices.jpg");    
  }

  .cd-food-color-2 {
    background-color: rgb(245, 237, 227);
  }

  .cd-food-bg-1 p {
    width: 45%;    
  }

  .grid-container {
    margin: 50px;
  }

  .food-grid {
    display: grid;
    grid-template-columns: auto auto; 
    grid-gap: 50px;
  }

  .grid-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

  .grid-item h2 {
    font-size: 22px;
    padding: 0;
  }

  .grid-item img {
    width: 70%;
  }

/* Geography Page Styles */
.cd-geog-bg-1 {
    background-image:url("../images/map.jpg");
  }

  .cd-geog-bg-1 p {
    width: 45%;
  }

  .intro-geog {
    padding: 20px 50px;
    /* text-align: center; */
  }

  .intro-geog h2 {
    text-align: center;
  }

  .intro-geog p {
    text-align: left;
  }

  /* History Page Styles */
.cd-hist-bg-1 {
    background-image: url("../images/gwalior.jpg");
  }

  .cd-hist-bg-1 p {
    width: 60%;
  }

  .hist-gallery {
      display: flex;
      justify-content: space-between;
      padding: 30px 0 0;
  }

  .hist-gallery-intro {
      text-align: center;
      font-size: 1.15em;
  }

  .hist-image {
    width: 300px;
  }

  .image-text {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translateX(30%) translateY(-50%);    
    font-size: 16px;
    color: #fff;
    /* opacity: 0; */
  }

  .zoom {
    transition: transform .5s; /* Animation */
    margin: 0 auto; 
    position: relative;        
  }

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;  
  background-color: rgb(61, 54, 54);      
}

footer div {
  color: rgb(253, 252, 252);  
  font-size: 12px;
  line-height: 8;
}

  @media only screen and (max-width: 320px) {
    .cd-fixed-bg {
      background-attachment: fixed;
      background-size: 100%;
    }
  }
  
  .cd-scrolling-bg {
    position: relative;
    min-height: 50%;
    padding: 4em 0;
    line-height: 1.6;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .cd-scrolling-bg.cd-color-1 {
    background-color: rgba(163, 154, 31, 0.85);      
    color: #0a0401;
  }
  .cd-scrolling-bg.cd-color-2 {
    background-color: rgba(98, 107, 13, 0.85);
    color: #0a0401;
  }

  .cd-container p {
    font-size: 16px;
  }

  .cd-scrolling-bg.cd-color-3 {
    background-color: rgba(110, 34, 4, 0.85);
    color: #e6dbdd;
  }

  .cd-scrolling-bg.cd-hist-color-1 {
    background-color: rgba(240, 212, 151, 0.85);
    color: #0c0c0c;
  }

  .cd-geog-color-2 {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(203, 238, 197, 0.85);
    color: #0c0c0c;
  }

  @media only screen and (max-width: 480px) {
    .cd-scrolling-bg {
      padding: 4em 0;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2;
      font-weight: 300;
    }
  }

  @media only screen and (max-width: 750px) {
	.btn-mobile-menu {
        display: block;
        z-index: 1000;
	}

	.nav-main {
		height: 0;
		overflow: hidden;
		-webkit-transition: height 0.3s ease;
		transition: height 0.3s ease;
	}

	.show-mobile-menu .nav-main {
    height: 126px;
		/* margin-top: 1%; */
	}

	.nav-main a {
		display: block;
		border-left: none;
		border-bottom: 1px solid #024109;
		background-color: #f3eebe;
		line-height: 43px;
		color: black;
		padding-top: 1px;
		font-weight: bold;
    }
    
    .nav-main ul {
        display: block;
        width: 100%;
        margin-left: 0;        
    }

	.nav-main li:first-child a {
		padding-top: 0;
        border-top: 1px solid #024109;
        text-align: center;
	}

	.nav-main li:last-child a {
		border-bottom: none;
        padding: 1px 0;
        text-align: center;    
	}

	.nav-main a:focus,
	.nav-main a:hover,
	.nav-main a:active {
		background-color: #F59740;
	}

	.nav-main .nav-active {
		color: red;
  }

  .cd-fixed-bg {
    background-size: cover;
 }
  
  .cd-fixed-bg h1 {
    font-size: 3em;
    top: 25%;
  }

  .cd-fixed-bg h2,
  .cd-fixed-bg p {
    font-size: 2em;
  }

  .cd-hist-bg-1 p,
  .cd-food-bg-1 p,
  .cd-geog-bg-1 p {
    font-size: 22px;
    font-weight: bold; 
    width: 80%; 
    top: 45%;
  }

  .intro {
    padding: 0 30px 40px;
  }

  .intro {
    padding: 20px 30px 40px;
  }

  .hist-gallery,
  .cd-container {
    display: block;
    text-align: center;
    padding: 0 10px 40px;    
  }

  .hist-image-div {
    padding-bottom: 50px;   
  }

  .food-grid {
    display: block;
  }  

  .grid-item {
    margin: 20px 0;
  }

.grid-item h2 {
  font-size: 20px;
}

  .grid-item p {
    font-size: 16px;
  }

  .zoom {
   transition: none;
  }

  .zoom:hover {
    transform: none;
  }
}

  